@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: /*url(./images/background.png) no-repeat center center/cover */ transparent; /* you can set the background here if you want */
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    
}

.todo-app {
    width: 100%;
    max-width: 400px;
    
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    vertical-align: top;

}

.todo-app h1 {
    font-size: 2rem;
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 1);    
}

.stat-container {
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.details {
    width: 100%;
}

.details h3 {
    color: #fff;
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 1);
    font-size: 1.2rem;
}

#progressbar {
    width: 100%;
    height: 7px;
    background: rgba(0, 195, 255, 0.5);
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
}

#progress {
    width: 0%;
    height: 100%;
    background: #00c3ff;
    border-radius: 20px;
    transition: width 0.3s ease;
}

#numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #00c3ff;
    border: 2px solid rgba(0, 110, 255, 0.3);
    border-radius: 25%;
    font-size: 1.5rem;

}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area input {
    flex: 1;
    padding: 10px 17px;
    border: none;
    outline: none;
    border-radius: 10px;
    
    background: rgba(0, 195, 255, 0.5);
    color: #dbdbdb;
    text-shadow: 1px 1.2px 1px rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease;
}

.input-area input::placeholder {
    color: #bcbcbc;
}

.input-area input:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.input-area input:focus {
    background: rgba(0, 195, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.input-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 25%;
    color: #fff;
    font-size: 1.1rem;
    background: rgba(0, 195, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-area button:hover {
    transform: scale(1.1);
    background: #00c3ff;
}

.todos-container {
    margin-top: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    
    
}

#task-list {
    float: left;
    max-height: 300px; /* if you don't want scroll, comment this line */
    overflow-y: auto; /* and this line */
    width: 100%;
    
}

#task-list::-webkit-scrollbar {
    width: 10px; /* in case you want to edit the scrollbar */
}


#task-list li {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    
    background: rgba(0, 195, 255, 0.5);

    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 15px;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    transition: all 0.2s ease;
}

#task-list li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    
}

#task-list .checkbox {
    min-width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 110, 255, 0.3);
    background: transparent;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

#task-list .checkbox:checked {
    background: rgba(0, 195, 255, 0.3);
    transform: scale(1.1);
}

#task-list li .checkbox:checked::before {
    content: '\2713';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#task-list li span {
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
    text-shadow: 1.5px 1.3px 0px rgba(0, 0, 0, 1);

}

#task-list li.completed span {
    text-decoration: 2px line-through #000;
    color: #000;
    text-shadow: none;
}

.task-buttons {
    display: flex;
    gap: 10px;
    margin-right: auto;
    
}

.task-buttons button {
    background: rgba(0, 110, 255, 0.3);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-buttons button:hover {
    transform: scale(1.2);
}

.task-buttons .edit-btn{
    background: #fccc3d;
}

.task-buttons .delete-btn{
    background: #f82828;
}

.empty-image {
    padding: 0px;
    margin: 0px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
}

@media (max-width: 600px) {
    .container {
        margin: 0 20px;
        padding: 0 10px;
    }
    .todo-app {
        padding: 1.5rem;
        gap: 20px
    }

    #numbers {
        width: 60px;
        height: 60px;
        font-size: 1rem;
    }

    .input-area input {
        font-size: 1rem;
    }

    #task-list li {
        font-size: 1rem;
    }
}